.Rproj.user
.Rhistory
.RData
.Ruserdata
raw_data/nchs/
raw_data/MMG*
scripts/v147*
scripts/v127*
scripts/v129*
temp/
raw_data/HIFLD/googledrive
data/


# R configuration and environment
.Rprofile
renv/

# environment file with secrets
.Renviron
